.map {
  width: 90%;
  height: 400px;

  &-margin {
    margin: 20px auto;
  }
}

.button-group {
  flex-direction: row;

  &__item {
    width: 90%;
    height: 40px;

    &_margin {
      margin: 10px auto;
    }
  }
}
